**/.DS_Store
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/*.tfstate*
.dolt/
.env
.git/
.github/
.gitignore
.gitmodules
.mypy_cache/
.pytest_cache/
.ruff_cache/
Legacy/
artifacts/
build/
data/
dbt/dbt_packages/
dbt/logs/
dbt/target/
else/
erl_crash.dump
examples/
gitCommits/
infrastructure/terraform/.terraform/
kubernetes/
logfile
logs/
options/
pg_hba.conf
rmq_produce.py
util/
vendors/
venv12/
webserver_config.py
