.DS_Store
.dolt/
.env
.git/
.github/
.gitignore
.gitmodules
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
Legacy/
StockTrader.egg-info/
__pycache__/
airflow/
build/
data/
else/
erl_crash.dump
examples/
gitCommits/
kubernetes/
logfile
logs/
options/
pg_hba.conf
rmq_produce.py
util/
vendors/
venv12/
webserver_config.py
